*{
    color: #333;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e2dddd;
}

p, li, i {
    color: #666;
}

.container {
    padding: 100px 0;
}